fastapi
uvicorn
sqlalchemy
python-multipart
passlib[bcrypt]
razorpay
python-dotenv
celery
redis
sentence-transformers
langchain
langchain-openai
pydantic
alembic
pytest
httpx
psycopg2-binary
pgvector
composio-core
composio-langchain
pyjwt
cryptography
email-validator

firecrawl-py
